/* Globla rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.continer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 700px;
}
.continer .menu {
  position: relative;
  font-size: 15px;
  color: rgba(29, 29, 231, 0.651);
  border-bottom: 1px dashed black;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.continer .menu p {
  display: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
  transition: all 0.5s ease-out;
}
.continer .menu p::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  position: absolute;
}
.cont .continer .menu p:first-of-type {
  top: 0;
  left: -100px;
}
.continer .menu .left::before {
  border-color: transparent transparent transparent black;
  position: absolute;
  left: 100%;
  top: 10px;
}
.continer .menu:first-of-type:hover p {
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  right: calc(100% + 10px);
  top: -7px;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}
.continer .menu:nth-of-type(2):hover p {
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  left: -30%;
  top: -50px;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}
.continer .menu .up::before {
  border-color: black transparent transparent transparent;
  position: absolute;
  left: 40%;
  top: 40px;
}
.continer .menu:nth-of-type(3):hover p {
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  left: calc(100% + 10px);
  top: -7px;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}
.continer .menu .right::before {
  border-color: transparent black transparent transparent;
  position: absolute;
  left: -20px;
  top: 10px;
}
.continer .menu:last-of-type:hover p {
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  right: -70%;
  top: calc(100% + 10px);
  border-radius: 8px;
  transition: all 0.5s ease-out;
}
.continer .menu .down::before {
  border-color: transparent transparent black transparent;
  position: absolute;
  left: 40%;
  top: -20px;
}
