/* Global rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  display: grid;
  margin: 0;
  padding: 20px 0;
  place-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2,
p {
  margin: 0;
  padding: 0;
}
.continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.continer .accordion {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid white;
}
.continer .accordion .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1f8dd6;

  margin: 0;
  max-height: 60px;
}
.continer .accordion .header i {
  color: white;
  transform: rotate(90deg);
  margin: 0 3px 0 0;
  padding: 27px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.continer .active .header i {
  background-color: rgba(94, 245, 94, 0.74);
  transform: rotate(270deg);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.continer .accordion-button {
  background-color: #1f8dd6;
  outline: none;
  color: white;
  border: none;
  margin: 0;
  padding: 23px;
  flex: 1;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease-out;
}
.continer .active .accordion-button {
  background-color: rgba(94, 245, 94, 0.74);
  transition: all 0.3s ease-out;
}

.continer .accordion-button button {
  outline: none;
  color: white;
  border: none;
  margin: 0;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding: 23px;
}
.continer .active {
  background-color: rgba(94, 245, 94, 0.74);
}
.continer .accordion .content {
  color: black;

  transition: all 0.3s ease-in-out;
  max-height: 0;
  width: 100%;
  background-color: #efefef;
}
.continer .active .content {
  max-height: 160px;
  padding: 23px;
  transition: all 0.3s ease-in-out;
}
